<h1>Listing hostgroups</h1>

<table>
  <tr>
    <th>Host name</th>
    <th>Host alias</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @hostgroups.each do |hostgroup| %>
  <tr>
    <td><%= hostgroup.host_name %></td>
    <td><%= hostgroup.host_alias %></td>
    <td><%= link_to 'Show', hostgroup %></td>
    <td><%= link_to 'Edit', edit_hostgroup_path(hostgroup) %></td>
    <td><%= link_to 'Destroy', hostgroup, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Hostgroup', new_hostgroup_path %>
