<%= form_for(@server) do |f| %>
  <% if @server.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@server.errors.count, "error") %> prohibited this server from being saved:</h2>

      <ul>
      <% @server.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :server_use %><br />
    <%= f.text_field :server_use %>
  </div>
  <div class="field">
    <%= f.label :server_name %><br />
    <%= f.text_field :server_name %>
  </div>
  <div class="field">
    <%= f.label :server_alias %><br />
    <%= f.text_field :server_alias %>
  </div>
  <div class="field">
    <%= f.label :server_address %><br />
    <%= f.text_field :server_address %>
  </div>
  <div class="field">
    <%= f.label :hostgroup_id %><br />
    <%= f.number_field :hostgroup_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
